html {

    font-family: "raleway";
    font-size: 20px;
    background-color: blueviolet;
    
}

body{

    margin: 0 auto;
    width: 600px;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    background-color: #ff9500;
}

h1, h2, h3 {

    text-align: center;
    
}

video {

    display: block;
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

button {

    display: block;
    margin: 20px auto;
    background-color: rgb(243, 24, 71);
    
}

h3 {

    margin: 50px 0px 0px 0px;

}

